terraformtest/production/.terraform/providers/registry.terraform.io/hashicorp/aws/5.30.0/windows_amd64/terraform-provider-aws_v5.30.0_x5.exe
terraformtest/development/.terraform/providers/registry.terraform.io/hashicorp/aws/5.30.0/windows_amd64/terraform-provider-aws_v5.30.0_x5.exe
*.terraform
*.pem
*.tfvars
*.tfplan
*.tfstate
*.tfstate.backup
*.lock.info
.terraform
*.lock.hcl
terraformtest/development/.terraform/providers/registry.terraform.io/hashicorp/aws/5.30.0/windows_amd64/terraform-provider-aws_v5.30.0_x5.exe
# development/tf_key.pem
# production/tf_key.pem
# tf_key.pem
